.bgimage{
  position: relative;
  z-index: -1;
}
.welcome{
  position: absolute;
  top: 80px;
  right: 350px;
}
.welcome h1{
  font-size: 60px;
  font-family:cursive;
  color: white;
}
.row1{
    padding-top: 10px;
    padding-bottom: 150px;
     background-color: black;
     color: white;
     font-family: cursive;
     text-align: center;
  }
  .row1 p{
    font-size: 80px;
    font-family: cursive;
  
  }
  
  .col1{
    display: inline;
    margin: 40px;
    position: relative;
  }
  .overlay1{
    font-size: 25px;
      position: absolute;
      top: -160px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 342px;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color:black;
      border: 1px solid silver;
    }
    
    .col1:hover .overlay1 {
      opacity: 0.85;
    }
    .t1 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }


    .row2{
      padding-top: 50px;
       background-color: black;
       color: white;
       font-family: cursive;
       text-align: center;
    }
    
    .col2{
      display: inline;
      margin: 40px;
      position: relative;
    }
    .overlay2{
      font-size: 25px;
        position: absolute;
        top: -160px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 342px;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color:black;
        border: 1px solid silver;
      }
      
      .col2:hover .overlay2 {
        opacity: 0.85;
      }
      .t2 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .h2 p{
        text-align: center;
        background-color:black;
        color: white;
        font-size: 60px;
      font-family: cursive;
      }
      .row3{
        background-color: black;
        height: 900px;
        padding-top: 3%;
        margin-top: -10px;
        padding-left: 100px;
      }
      .cw{
        width: 80%;
        height: 700px;
        margin: 100px;
        padding-bottom: 50px;
      }
    .carousel-caption{
        margin-bottom: 250px;
        font-size: 25px;
        font-family: cursive;
    }
    .h2{
        font-size: 45px;
        font-family: cursive; 
        color: white;  
        text-align: center;
    }
    .imgsize{
        width:100%;
        height:500px;
    }