<div class="header">
  <div class="bgimage">
   <img src="assets/bg1.jpg" alt="bg-image" width="100%"  height="700px"/>
  <div class="welcome">
    <h1>Welcome to BTS World</h1>
    
  </div>
 </div>
 </div>
<div class="row1">
    <p style="font-size: 80px;" style="margin-top: 80px;">K-POP</p>
    <h3 style="font-size: 50px;">BTS [Bangtan Sonyeondan]</h3><br><br><br>
    <div class="col1">
      <a href=""><img class="rm" src="assets/rm.jpg" alt="rm" width="240px" height="330px"></a>
       <div class="overlay1">
         <div class="t1">Kim Namjoon<br>Leader of the Group & Main Rapper</div>
       </div>
    </div>
    <div class="col1">
      <a href=""><img src="assets/jin.jpg" alt="rm" width="240px" height="330px"></a>
      <div class="overlay1">
        <div class="t1">Kim Seokjin<br>Visual & Sub Vocalist</div>
      </div>
    </div>
    <div class="col1">
      <a href=""><img src="assets/suga.jpg" alt="rm" width="240px" height="330px"></a>
      <div class="overlay1">
        <div class="t1">Min Yoongi<br>Lead Rapper</div>
      </div>
    </div>
    <div class="col1">
      <a href=""><img src="assets/jhope.jpg" alt="rm" width="240px" height="330px"></a>
      <div class="overlay1">
        <div class="t1">Jung Hoseok<br>Main Dancer & Rapper</div>
      </div>
    </div>
  </div>

  <div class="row2">
    <div class="col2">
      <a href=""><img class="jimin" src="assets/jimin.jpg" alt="rm" width="252px" height="342px"></a>
       <div class="overlay2">
         <div class="t2">Park Jimin<br>Lead Vocalist</div>
       </div>
    </div>
    <div class="col2">
      <a href=""><img class="v" src="assets/v.jpg" alt="rm" width="252px" height="342px"></a>
       <div class="overlay2">
         <div class="t2">Kim Taehyung<br>Sub Vocalist</div>
       </div>
    </div>
    <div class="col2">
      <a href=""><img class="jk" src="assets/jk.jpg" alt="rm" width="252px" height="342px"></a>
       <div class="overlay2">
         <div class="t2">Jeon Jungkook<br>Main Vocalist</div>
       </div>
    </div>
  </div>

  <div class="row3">
    <div class="cw">
    <div class="h2"><p>Global Concerts</p></div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
  
      <div class="carousel-inner">
  
        <div class="item active">
          <img class="imgsize" src="assets/c1.jpg" alt="Los Angeles" >
          <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>LA is always so much fun in concerts!</p>
          </div>
        </div>
  
        <div class="item">
          <img  class="imgsize" src="assets/c2.jpg" alt="Chicago" >
          <div class="carousel-caption">
            <h3>Wembley Stadium</h3>
            <p>Thank you.., Wembley!</p>
          </div>
        </div>
      
        <div class="item">
          <img  class="imgsize" src="assets/c3.jpg" alt="New York"  >
          <div class="carousel-caption">
            <h3>New York</h3>
            <p>We love you Army!</p>
          </div>
        </div>
  
        <div class="item">
          <img class="imgsize" src="assets/c4.jpg" alt="New York" >
          <div class="carousel-caption">
            <h3>BTS * ARMY</h3>
            <p>We love this Purple World!</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
