<div class="nav">
  <img src="assets/logo2-removebg-preview.png" height="50px" width="50px"/>
  <img src="assets/heart-removebg-preview.png" height="50px" width="50px"/>
  <img src="assets/logo1-removebg-preview.png" height="50px" width="50px"/>
  <a routerLink="signup" href="sign-in"><i style="padding-right: 7px;" class="glyphicon glyphicon-user"></i>Sign Up</a>
  <a routerLink="login" href="sign-in"><i style="padding-right: 7px;" class="glyphicon glyphicon-log-in"></i>Log In</a>
</div>
<div class="option">
  <a routerLink="about" href="">About</a>
  <div class="dropdown"><a class="song" href="song">Songs</a>
    <div class="song-dd">
      <a href="">Melodies</a>
      <a href="">Rap songs</a>
      <a href="">Solo songs</a>
      <a href="">Collaborations</a>
      <a href="">Sad Songs</a>
    </div>
  </div>
  <div class="dropdown"><a class="song" href="videos">Videos</a>
  <div class="song-dd">
    <a routerLink="video" href="">2013 collections</a>
    <a href="">2015 collections</a>
    <a href="">2017 collections</a>
    <a href="">2019 collections</a>
    <a href="">2021 collections</a>
  </div>
  </div>
  <div class="dropdown"><a class="song" href="Fan Page">Awards</a>
  <div class="song-dd">
    <a href="">Grammy Award</a>
    <a href="">Daesang Award</a>
    <a href="">Golden Disc Award</a>
    <a href="">Billboard Music Award</a>
  </div>
  </div>
  <a routerLink="concert" href="concert">Concerts</a>
</div>

