/* .row3{
    background-color: black;
    height: 900px;
    padding-top: 3%;
    margin-top: -10px;
    padding-left: 100px;
  }
  .cw{
    width: 80%;
    height: 700px;
    margin: 100px;
    padding-bottom: 50px;
  }
.carousel-caption{
    margin-bottom: 250px;
    font-size: 25px;
    font-family: cursive;
}
.h2{
    font-size: 45px;
    font-family: cursive; 
    color: white;  
    text-align: center;
}
.imgsize{
    width:100%;
    height:500px;
} */