
<form class="form" action="/action_page.php">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="" placeholder="Your name.."><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="" placeholder="Your last name.."><br>
    <label for="lname">Email ID:</label><br>
    <input type="text" id="lname" name="lname" value="" placeholder="Your mail.."><br>
    <label for="num">Mobile Number:</label><br>
    <input type="text" id="lname" name="lname" value="" placeholder="Your Mobile Number.."><br>
    <label for="lname">Country:</label><br>
    <input type="text" id="lname" name="lname" value="" placeholder="Country.."><br>
    <br> <input type="submit" value="Register">
</form>